<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'navbar' %>
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
    <section class="section">
      <footer class="footer">
        Read more about <a href="https://github.com/fwolfst/bulma-form-builder"> BulmaFormBuilder </a> <small> and contribute. </small>
      </footer>
    </section>
  </body>
</html>
