<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name, placeholder: "Text input" %>
</div>

<div class="field">
  <%= form.label :username %>
  <%= form.text_field :username, icon_left: 'fas fa-user', value: 'bulma', icon_right: 'fas fa-check' %>
</div>

<div class="field">
  <%= form.label :email %>
  <%= form.text_field :email, icon_left: 'fas fa-envelope', value: 'hello@', icon_right: 'fas fa-exclamation-triangle' %>
</div>

<div class="field">
  <%= form.label :subject %>
  <%= form.select :subject, ['with options'], prompt: 'Select dropdown' %>
</div>

<div class="field">
  <%= form.label :message %>
  <%= form.text_area :message, placeholder: 'Textarea'%>
</div>

<div class="field">
  <%= form.check_box :tos, label: 'I agree ...' %>
</div>

<div class="field">
  <%= form.radio_button :tos, label: 'I agree ...' %>
</div>

<div class="field">
  <%= form.submit %>
</div>
