<h1 class="title">Using BulmaFormBuilder::FormBuilder backed by an object</h2>

using
<code>
  form_with model: @user, builder: BulmaFormBuilder::FormBuilder do |form|
    # ...
  end
</code>

(specifying the FormBuilder manually).
<br/>
<br/>

<section class="section has-background-light">
  <h2 class="title">Complete form example</h2>
  <%= link_to 'Complete Form example on bulma doc page', 'https://bulma.io/documentation/form/general/#complete-form-example' %>
  
  <div class="box">
    <h2 class="title is-7">Rendered Result</h2>
    <%= form_with model: @user, url: '/', builder: BulmaFormBuilder::FormBuilder do |form| %>
      <%= render partial: 'complete_form_object_backed', locals: {form: form} %>
    <% end %>
  </div>
  
  <div class="box">
    <h2 class="title is-7">ERB Code</h2>
    <%= render_source partial: 'complete_form_object_backed' %>
  </div>
  <!-- Unfortunately, column view does not work nicely -->
  <div class="box">
    <h2 class="title is-7">HTML Output</h2>
    <%= form_with builder: BulmaFormBuilder::FormBuilder do |form| %>
      <%= render_out partial: 'complete_form_object_backed', locals: {form: form} %>
    <% end %>
  </div>
<section class="section">

<hr/>
